# Ignore vscode temp files
.vs/
.vscode/
__pycache__/

# Ignore build related stuff
Release/
build/
dist/
gui.spec
tabula-1.0.4-jar-with-dependencies.jar

# Ignore custom folders
/Test
templates/
exports/*

# Ignore files
integration 1 prep.vbs