# Ignore vscode temp files
.vs/
.vscode/
__pycache__/

# Ignore build related stuff
Release/
build/
dist/
gui.spec
tabula-1.0.4-jar-with-dependencies.jar
tabula-1.0.5-jar-with-dependencies.jar
upx-3.96-win64/

# Ignore custom folders
/Test
templates/
exports/*

# Ignore files
"integration 1 prep.vbs"

